/* ==========================Global Style======================== */
body {
  margin: 5px;
  padding: 0.2rem;
  font-family: "Open Sans", sans-serif;
  color: #0d0d0d;
  height: 100vh;
  padding: 5px;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
    env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  width: auto;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(
    255,
    255,
    255,
    0
  ); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

a {
  color: #e04343;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  border-bottom: 1px dashed;
  outline: none !important;
}
a:hover,
a:focus,
a:active {
  color: #0d0d0d;
  text-decoration: none;
  outline: none !important;
}
p {
  color: #8c9398;
  word-spacing: 1px;
  line-height: 25px;
  font-size: 14px;
}
h2 {
  font-size: 15px;
  color: #353535 !important;
  font-weight: bold;
}
h2::after {
  content: " ";
  border: solid 1px #cccccc;
  display: block;
  width: 65px;
  margin: 20px auto;
}
h3 {
  font-size: 15px;
  color: #8c8c8c;
  text-transform: uppercase;
  font-weight: bold;
}
h3::after {
  content: " ";
  border: solid 1px #cccccc;
  display: block;
  width: 65px;
  margin-top: 20px;
}

/*===================BASE==========================*/

#aida_home {
  width: 50%;
  height: 50%;
  border: 6px;
  border-radius: 20px;
  border-style: solid;
  border-color: rgb(143, 154, 173);
}
/*=================== NAVIGATION=================*/
.menu {
  display: inline;
}
.menu-links {
  display: none;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 12px 16px;
}

.menu:hover .menu-links {
  display: inline;
}
.menu:hover .menu-links li {
  display: inline-block;
}
