/* ==========================Global Style======================== */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  margin: 5px;
  padding: 0.2rem;
  font-family: "Open Sans", sans-serif;
  color: #0d0d0d;
  height: 100vh;
  /* Padding to avoid the "unsafe" areas behind notches in the screen */
  padding: env(safe-area-inset-top, 0px) env(safe-area-inset-right, 0px)
    env(safe-area-inset-bottom, 0px) env(safe-area-inset-left, 0px);
  width: auto;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(
    255,
    255,
    255,
    0
  ); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

a {
  color: #236b73;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  outline: none !important;
}
a:hover,
a:focus,
a:active {
  color: #0d0d0d;
  text-decoration: none;
  outline: none !important;
}
p {
  color: #8c9398;
  word-spacing: 1px;
  line-height: 25px;
  font-size: 14px;
}
h2 {
  font-size: 4vw;
  color: #353535 !important;
  font-weight: bold;
}
h2::after {
  content: " ";
  border: solid 1px #cccccc;
  display: block;
  width: 65px;
  margin: 20px auto;
}
h3 {
  font-size: 3vw;
  color: #8c8c8c;
  text-transform: uppercase;
  font-weight: bold;
}
h3::after {
  content: " ";
  border: solid 1px #cccccc;
  display: block;
  width: 65px;
  margin-top: 20px;
}

/*===================HEADER==========================*/
.pic-container {
  position: relative;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.cover-home {
  display: block;
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  opacity: 50%;
  border: 6px;
  border-radius: 20px;
}

.aida-pic {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  transition: 1s ease;
  border: 6px;
  border-radius: 20px;
}

.pic-container:hover .aida-pic {
  opacity: 50%;
}
.pic-container:hover .cover-home {
  opacity: 0;
}

.home {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  line-height: 1.58;
  letter-spacing: -0.003em;
  font-size: 8vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

.home2 {
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -0.003em;
  font-size: 6vw;
  padding-bottom: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
}

/*=================== NAVIGATION=================*/
.menu {
  display: inline;
  padding: 1em 1em;
  font-family: "Bebas Neue", sans-serif;
}
.menu-button {
  padding: 12px 14px;
  background-color: #316c72;
  font-size: 3vw;
  opacity: 60%;
}
.menu-links {
  display: none;
  text-align: center;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 14px 16px;
}

.menu:hover .menu-links {
  display: inline;
}
.menu:hover .menu-links li {
  display: inline-block;
  padding-left: 3em;
  padding-right: 3em;
  font-size: 2vw;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
